#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-fixup/python-moira::
	rm -rf debian/$(cdbs_curpkg)/usr/bin

clean::
	rm -rf _moira.c PyMoira.egg-info
